.button-container {
    right: 100px;
    display: flex;
    width: 30%;
    height: 15vh;
    margin-top: 100px;
    color: white;
    font-family: 'Comfortaa', cursive;
    position: absolute;
}

a.my-button {
    cursor: pointer;
    transition-duration: 0.4s;
    background-color: cornflowerblue;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 31px;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    padding: 7px 20px;
    margin: 30px;
    border-radius: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 8px 25px 0px lightskyblue;


}

a.my-button:hover {
    background-color: royalblue;
}

#input-container{
    display: flex;
    flex-direction: column;
    row-gap: 10px;

}
.small-text{
    background: cornflowerblue;
    margin-top: -60px;
    right: 115px;
    font-size: 25px;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    padding: 7px 20px;
    display: flex;
    color: white;
    font-family: 'Comfortaa', cursive;
    position: absolute;
}
#login-password-form{
    right: 160px;
    margin-top: -20px;
    display: flex;
    height: 15vh;
    padding: 50px 90px;
    color: white;
    position: absolute;
}
.input-text{
    font-size: 15px;
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    flex-direction: column;
}
