
.user-info-avatar {
    display: inline-block;
    width: 65px;
    height: 65px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    left: 50px;
    top:190px;
    color: white;
}
.user-info-name{
    width: 100px;

}

.list{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: cornflowerblue;
    border-radius: 10%;
    left: 100px;
    top:290px;
}

.profile,.shedule {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px;
    border-radius: 10px;
    transition: all 0.2s ease;
    cursor: pointer;
    margin: 10px;
    font-size: 4vw;
    line-height: 4.5vw;
    width: 150px;
}

.profile:hover,.shedule:hover {
    background: royalblue;
    transition: all 0.2s ease;
}

.profile a,.shedule a {
    color: white;
    transition: all 0.2s ease;
    font-size: 20px;
    cursor: pointer;
}
.graph{
    width: 450px;
    height: 350px;
    border: 3px solid cornflowerblue;
    border-radius: 10%;
    background: lightcyan;
    margin: auto;
    margin-top: 120px;
    margin-left: 350px;

}
.shed{
    width: 450px;
    height: 350px;
    border: 3px solid cornflowerblue;
    border-radius: 10%;
    background: lightcyan;
    margin-top: -356px;
    margin-left: 900px;
}
.header1{
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
    text-align: center;
    text-transform: uppercase;
    color: #fefefe;
    margin-top: -1px;
    background-color: cornflowerblue;
}