
.user-info-avatar {
    display: inline-block;
    width: 65px;
    height: 65px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    left: 14px;
    top: 220px;
    color: white;
}

.user-info-name {
    color: white;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px;
    border-radius: 10px;
    transition: all 0.2s ease;
    cursor: pointer;
    margin-left: 104px;
    margin-top: 20px;
    font-size: 2vw;
    line-height: 2vw;
    width: 150px;
    box-shadow: 0 5px 15px 0 rgba(11, 99, 246, 1);
    background-color: cornflowerblue;

}

.list {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: cornflowerblue;
    border-radius: 10%;
    left: 100px;
    top: 290px;
}

.profile, .schedule, .back-button, .progress {
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px;
    border-radius: 10px;
    transition: all 0.2s ease;
    cursor: pointer;
    margin: 10px;
    font-size: 4vw;
    line-height: 4.5vw;
    width: 150px;
    box-shadow: 0 5px 15px 0 rgba(11, 99, 246, 1);
}

.profile:hover, .schedule:hover, .back-button:hover, .progress:hover {
    background: royalblue;
    transition: all 0.2s ease;
    transform: translate(0, -3px);
    box-shadow: 0 20px 40px 0 rgba(11, 99, 246, 1);
}

.profile a, .schedule a, .back-button a, .progress a {
    color: white;
    transition: all 0.2s ease;
    font-size: 20px;
    cursor: pointer;
}

.back-button {
    padding: 6px;
    width: 50px;
    margin-top: -500px;
}

#graph {
    width: 450px;
    height: 350px;
    border: 3px solid cornflowerblue;
    border-radius: 10%;
    background: lightcyan;
    margin: 120px auto auto 350px;
    box-shadow: 17px 20px 11px 4px rgba(0, 0, 0, 0.3);

}

#shed {
    width: 450px;
    height: 350px;
    border: 3px solid cornflowerblue;
    border-radius: 10%;
    background: lightcyan;
    margin-top: -356px;
    margin-left: 900px;
    box-shadow: 17px 20px 11px 4px rgba(0, 0, 0, 0.3);
}

.header1 {
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
    text-align: center;
    text-transform: uppercase;
    color: #fefefe;
    margin-top: -1px;
    background-color: rgba(20, 122, 157, 0.39);
}

#profileBox {
    display: none;
    width: 1050px;/*1100*/
    height: 700px;
    border: 3px solid cornflowerblue;
    border-radius: 10%;
    background: lightcyan;
    margin: 310px auto auto 350px;
    box-shadow: 17px 20px 11px 4px rgba(0, 0, 0, 0.3);
}

.username, .weight {
    touch-action: manipulation;
    font-size: 25px;
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    flex-direction: row;
    top: 100px;
    left: 100px;
    margin: 70px 0px 70px 139px;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 18px;
    border-color: cornflowerblue;
}

.sex {
    font-family: 'Comfortaa', cursive;
    margin-left: 70px;
    font-size: 25px;
}

input[type=radio] {
    width: 100px;
    height: 2em;
}

.save {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 6px;
    border-radius: 10px;
    transition: all 0.2s ease;
    cursor: pointer;
    font-size: 4vw;
    line-height: 4.5vw;
    width: 150px;
    box-shadow: 0 5px 15px 0 rgba(11, 99, 246, 1);
    background-color: cornflowerblue;
    margin-top: 154px;
    margin-left: 475px;
}

.save:hover {
    background: royalblue;
    transition: all 0.2s ease;
    transform: translate(0, -3px);
    box-shadow: 0 20px 40px 0 rgba(11, 99, 246, 1);
}

.save a {
    color: white;
    transition: all 0.2s ease;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}
.circle{
    position: relative;
    top: 45%;
    color:cornflowerblue
}
.circleWrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
