@import url(https://fonts.googleapis.com/css?family=Didact+Gothic|Comfortaa:400,700&subset=latin,cyrillic);

body {
    background: url(../../public/wall.jpeg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

header {
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
    text-align: center;
    text-transform: uppercase;
    color: #fefefe;
    margin-top: -100px;
}

#app-list {
    display: flex;
    flex-direction: column;
    position: absolute;
}

.app {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px;
    border-radius: 10px;
    margin-bottom: 5px;
    transition: all 0.2s ease;
    cursor: pointer;
    margin-top: 80px;
    font-size: 4vw;
    line-height: 4.5vw;
}

.app:hover {
    background: cornflowerblue;
    transition: all 0.2s ease;
}

.app a {
    color: white;
    transition: all 0.2s ease;
    font-size: 20px;
    cursor: pointer;
}


.content {
    display: flex;
    margin-top: 80px;
    padding: 50px 90px;
    color: white;
    font-family: 'Comfortaa', cursive;
    font-size: large;
    font-weight: 900;
}

.titlehero {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 55px;
    margin: 0px 0 30px 0;
    color: royalblue;
    text-shadow: 0 0 5px #FFF,
    0 0 10px #FFF,
    0 0 15px #FFF,
    0 0 20px #BFE2FF;
}

.button-container {
    right: 100px;
    display: flex;
    width: 30%;
    height: 15vh;
    margin-top: 280px;
    color: white;
    font-family: 'Comfortaa', cursive;
    position: absolute;
}

a.my-button {
    transition-duration: 0.4s;
    background-color: cornflowerblue;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 31px;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    padding: 7px 20px;
    margin: 30px;
    border-radius: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 8px 25px 0px lightskyblue;


}

a.my-button:hover {
    background-color: royalblue;
}

img {
    animation: show 1s;
    left: 880px;
    display: flex;
    width: 30%;
    height: 80vh;
    color: white;
    font-family: 'Comfortaa', cursive;
    position: absolute;
    border-radius: 10px;
    border: 5px cornflowerblue solid;
    box-shadow: 0 0 10px #444;
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#input-container{
    display: flex;
    flex-direction: column;
    row-gap: 10px;

}
.small-text{
    background: cornflowerblue;
    margin-top: 160px;
    right: 115px;
    font-size: 25px;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    padding: 7px 20px;
    display: flex;
    color: white;
    font-family: 'Comfortaa', cursive;
    position: absolute;
}
#login-password-form{
    right: 160px;
    margin-top: 180px;
    display: flex;
    height: 15vh;
    padding: 50px 90px;
    color: white;
    position: absolute;
}
.input-text{
    font-size: 15px;
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    flex-direction: column;
}

